.nav-bar {
    display: flex;
    gap: 2.125rem;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: light;
    font-size: 1.125rem;
    transition: 0.3s;
}

.nav-bar a:hover {
    color: rgb(122, 191, 255);
}
