.search {
    display: flex;
    gap: 0.4rem;
}

.search input {
    width: 18rem;
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 7px;
    padding: 0.125rem 0.5rem;
    font-size: 0.8rem;
    font-weight: light;
}